bin/
node_modules/
public/
routes/
app.js
package.json
package-lock.json
viikko6/bin/
viikko6/node_modules/
viikko6/routes/
viikko6/app.js
viikko6/esim1.js
viikko6/package.json
viikko6/package-lock.json
viikko6/testi.js

